---
import Layout from "@/layouts/Layout.astro";
import { getI18N } from "@/i18n/index.ts";

const currentLocale = Astro.url.pathname.split("/")[1] || "de";
const i18n = getI18N({ currentLocale });
---

<Layout title="" description="Allgemeine Geschäftsbedingungen von GILLOT CONSULTING SERVICES.">
    <div>
        <h1 class="text-4xl font-bold text-center mx-auto mt-8 mb-1">
            Allgemeine Geschäftsbedingungen
        </h1>
        <div class="max-w-3xl mx-auto px-4">
            <h2 class="text-2xl md:text-3xl text-center mx-auto mb-8">
                von GILLOT CONSULTING SERVICES
            </h2>
            <div class="flex justify-center mb-6">
                <img
                    class=""
                    src="/img/pdf_icon.webp"
                    alt="Pdf icon"
                    style="cursor:pointer"
                    onclick="window.open('/agb_Gillot_2005.pdf', '_blank')"
                />
            </div>
            <div>
                <h3 class="mt-5 font-bold">1. Geltungsbereich</h3>
                <p>
                    1.1&nbsp; Die Lieferungen und Leistungen von GILLOT
                    CONSULTING SERVICES erfolgen ausschließlich zu den
                    nachstehenden Allgemeinen Geschäftsbedingungen, soweit nicht
                    schriftlich etwas anderes vereinbart wurde. Auf die den
                    Vertragsprodukten beiliegenden Lizenzbedingungen der
                    Hersteller wird ergänzend Bezug genommen.
                </p>
                <p>
                    1.2&nbsp; Entgegenstehende oder von den Allgemeinen
                    Geschäftsbedingungen von GILLOT CONSULTING SERVICES
                    abweichende Bedingungen des Kunden erkennt von GILLOT
                    CONSULTING SERVICES nicht an, es sei denn, von GILLOT
                    CONSULTING SERVICES hätte ausdrücklich schriftlich ihrer
                    Geltung zugestimmt. Änderungen und Ergänzungen des Vertrages
                    bedürfen der Schriftform. Die Allgemeinen
                    Geschäftsbedingungen von GILLOT CONSULTING SERVICES gelten
                    auch dann, wenn von GILLOT CONSULTING SERVICES in Kenntnis
                    entgegenstehender oder abweichender Bedingungen des Kunden
                    die Lieferungen an den Kunden vorbehaltlos ausführt. Zusagen
                    und Nebenabsprachen bedürfen der schriftlichen Bestätigung
                    von GILLOT CONSULTING SERVICES.
                </p>
                <h3 class="mt-5 font-bold">2. Lieferungen und Leistungen</h3>
                <p>
                    2.1&nbsp; Die Angebote GILLOT CONSULTING SERVICES sind
                    freibleibend und unverbindlich. Ein Vertrag kommt erst mit
                    der schriftlichen Auftragsbestätigung von GILLOT CONSULTING
                    SERVICES, spätestens jedoch durch Annahme der Lieferung
                    durch den Kunden zustande.
                </p>
                <p>
                    2.2&nbsp; Dem Kunden zumutbare technische und gestalterische
                    Abweichungen von Angaben in Prospekten, Katalogen und
                    schriftlichen Unterlagen sowie Modell-, Konstruktion, und
                    Materialänderungen im Zuge des technischen Fortschritts und
                    der weiteren Entwicklung bleiben vorbehalten, ohne dass
                    hieraus Rechte gegen GILLOT CONSULTING SERVICES hergeleitet
                    werden können.
                </p>
                <p>
                    2.3&nbsp; Das Recht zu zumutbaren Teillieferungen und deren
                    Fakturierung bleibt GILLOT CONSULTING SERVICES ausdrücklich
                    vorbehalten.
                </p>
                <p>
                    2.4&nbsp; Vereinbarte Liefertermine gelten als eingehalten,
                    wenn das Vertragsprodukt zum vereinbarten Liefertermin dem
                    Frachtführer übergeben wurde, soweit keine anderweitige
                    ausdrückliche schriftliche Vereinbarung getroffen wurde.
                    Verzögert sich die Versendung versandbereiter Ware aus
                    Gründen, die nicht von GILLOT CONSULTING SERVICES zu
                    vertreten sind, so können die Vertragsprodukte auf Kosten
                    und Gefahr des Kunden eingelagert werden.
                </p>
                <p>
                    2.5&nbsp; Der Liefertermin wird nach dem voraussichtlichen
                    Leistungsvermögen von GILLOT CONSULTING SERVICES vereinbart
                    und versteht sich unverbindlich und vorbehaltlich
                    rechtzeitiger Selbstbelieferung und unvorhergesehener
                    Umstände und Hindernisse, unabhängig davon, ob diese bei
                    GILLOT CONSULTING SERVICES oder beim Hersteller eintreten,
                    insbesondere höhere Gewalt, staatliche Maßnahmen,
                    Nichterteilung behördlicher Genehmigungen, Arbeitskämpfe
                    jeder Art, Sabotage, Rohstoffmangel, unverschuldete
                    verspätete Materialanlieferungen. Derartige Ereignisse
                    verlängern den Liefertermin entsprechend und zwar auch dann,
                    wenn sie während eines bereits eingetretenen Verzuges
                    auftreten. Verlängert wird auch eine in diesem Falle evtl.
                    vom Kunden gesetzte Nachfrist um die Dauer des
                    unvorhergesehenen Ereignisses. Sollte GILLOT CONSULTING
                    SERVICES mit einer Lieferung mehr als vier Wochen in Verzug
                    geraten, kann der Kunde nach einer schriftlich gesetzten,
                    angemessenen Nachfrist unter Ausschluß weiterer Ansprüche
                    vom Vertrag zurücktreten. Ein Anspruch des Kunden auf
                    Schadenersatz wegen Lieferverzug ist im Fall gewöhnlicher
                    Fahrlässigkeit ausgeschlossen, im übrigen ist die Haftung
                    auf die Höhe des vorhersehbaren Schadens, maximal jedoch 5%
                    des Lieferwerts, begrenzt. GILLOT CONSULTING SERVICES behält
                    sich das Recht vor, vom Vertrag zurückzutreten, wenn die
                    durch eines der o.g. Ereignisse hervorgerufene
                    Lieferverzögerung länger als sechs Wochen andauert und dies
                    nicht von GILLOT CONSULTING SERVICES zu vertreten ist.
                </p>
                <h3 class="mt-5 font-bold">3. Prüfung und Gefahrübergang</h3>
                <p>
                    3.1&nbsp; Der Kunde hat die Ware unverzüglich nach Erhalt
                    auf Vollständigkeit und Übereinstimmung laut Lieferschein
                    und Rechnung zu überprüfen. Unterbleibt eine Rüge innerhalb
                    von drei Tagen so gilt die Ware als ordnungsgemäß und
                    vollständig geliefert, es sei denn, dass es sich um einen
                    Mangel handelt, der bei der Untersuchung nicht erkennbar
                    war.
                </p>
                <p>
                    3.2&nbsp; Unwesentliche Mängel, welche die
                    Funktionstüchtigkeit des Liefergegenstandes nicht
                    beeinträchtigen, berechtigen den Kunden nicht zu einer
                    Verweigerung der Abnahme.
                </p>
                <p>
                    3.3&nbsp; Die Gefahr geht mit Übergabe des Vertragsproduktes
                    an den Frachtführer, dessen Beauftragten oder andere
                    Personen, die von GILLOT CONSULTING SERVICES benannt sind,
                    auf den Kunden über. Soweit sich der Versand ohne
                    Verschulden GILLOT CONSULTING SERVICES verzögert oder
                    unmöglich wird, geht die Gefahr mit Meldung der
                    Versandbereitschaft auf den Kunden über. Die Bestimmungen
                    aus 3.3 gelten auch bei Rücksendungen nach Mängelbeseitigung
                    bzw. entgeltlicher Serviceleistung an den Kunden.
                </p>
                <h3 class="mt-5 font-bold">
                    4. Preise und Zahlungsbedingungen
                </h3>
                <p>
                    4.1&nbsp; Die sich aus der jeweils gültigen Preisliste
                    ergebenden Preise verstehen sich ab Auslieferungslager WIEN
                    oder ab Auslieferungslager unserer Unterlieferanten.
                    Mehrwertsteuer und andere gesetzliche Abgaben im Lieferland
                    sowie Verpackung, Transportkosten, Transportversicherung,
                    Umwelt- und Abwicklungspauschale werden dem Kunden
                    entsprechend der jeweils geltenden Preisliste berechnet.
                </p>
                <p>
                    4.2&nbsp; GILLOT CONSULTING SERVICES behält sich das Recht
                    vor, den Preis angemessen zu erhöhen, wenn nach Abschluß des
                    Vertrages Kostenerhöhungen - insbesondere auf Grund von
                    Preiserhöhungen von seiten der Lieferanten oder von
                    Wechselkursschwankungen - bei GILLOT CONSULTING SERVICES
                    eintreten. Diese wird GILLOT CONSULTING SERVICES dem Kunden
                    auf Verlangen nachweisen.
                </p>
                <p>
                    4.3&nbsp; Zahlungen sind 10 Werktage nach Rechnungsstellung
                    ohne jeden Abzug fällig. Rechnungsstellung erfolgt mit
                    Warenausgang. Bei Überschreitung der Zahlungstermine steht
                    GILLOT CONSULTING SERVICES ohne weitere Mahnung ein Anspruch
                    auf Verzugszinsen in Höhe von 10% über dem jeweils gültigen
                    Basiszinssatz der Europäischen Zentralbank zu. Das Recht zur
                    Geltendmachung eines darüber hinausgehenden Schadens bleibt
                    unberührt.
                </p>
                <p>
                    4.4&nbsp; GILLOT CONSULTING SERVICES ist berechtigt, trotz
                    anderslautender Bestimmungen des Kunden, Zahlungen zunächst
                    auf dessen ältere Schulden anzurechnen. Sind bereits Kosten
                    und Zinsen durch Verzug entstanden, so ist GILLOT CONSULTING
                    SERVICES berechtigt, die Zahlung zunächst auf die Kosten,
                    dann auf die Zinsen und zuletzt auf die Hauptleistungen
                    anzurechnen.
                </p>
                <p>
                    4.5&nbsp; Eine Aufrechnung oder die Geltendmachung eines
                    Zurückbehaltungsrechtes wegen von uns nicht anerkannter oder
                    nicht rechtskräftig festgestellter Gegenansprüche ist
                    ausgeschlossen.
                </p>
                <p>
                    4.6&nbsp; Soweit von den obenstehenden Zahlungsbedingungen
                    ohne rechtfertigenden Grund abgewichen wird, kann GILLOT
                    CONSULTING SERVICES jederzeit wahlweise Lieferung Zug um Zug
                    gegen Barzahlung, Vorleistung oder Sicherheitsleistung
                    verlangen.
                </p>
                <h3 class="mt-5 font-bold">5. EURO</h3>
                <p>
                    5.1&nbsp; Alle sich aus der Geschäftsbeziehung ergebenden
                    Zahlungsverpflichtungen und im Zusammenhang damit stehenden
                    sonstigen finanziellen Verpflichtungen gelten als in €
                    (EURO) vereinbart.
                </p>
                <p>
                    5.2&nbsp; Alle Bestimmungen, die eine Bezugnahme auf den
                    Diskontsatz der Österreichischen Nationalbank beinhalten,
                    werden in eine Bezugnahme auf den gültigen
                    Referenzzinssatz/Basiszinssatz der Europäischen Zentralbank
                    geändert.
                </p>
                <h3 class="mt-5 font-bold">6. Eigentumsvorbehalt</h3>
                <p>
                    6.1&nbsp; Das Vertragsprodukt bleibt Eigentum von GILLOT
                    CONSULTING SERVICES bis zur Erfüllung aller, auch
                    zukünftiger Forderungen aus diesem Vertrag und darüber
                    hinaus aus der gesamten Geschäftsbeziehung mit dem Kunden.
                </p>
                <p>
                    6.2&nbsp; Der Kunde ist widerruflich zur Weitergabe der
                    Vorbehaltsware im ordnungsgemäßen Geschäftsverkehr unter
                    Eigentumsvorbehalt berechtigt, soweit er seinerseits unter
                    eigenem Eigentumsvorbehalt weiterverkauft, nicht aber zur
                    Verpfändung oder Sicherheitsübereignung in irgendeiner Form.
                    Bei Zugriffen Dritter auf die Vorbehaltsware hat der Kunde
                    auf das Eigentum GILLOT CONSULTING SERVICES hinzuweisen und
                    GILLOT CONSULTING SERVICES unverzüglich zu unterrichten.
                </p>
                <p>
                    6.3&nbsp; Bei Verbindung, Verarbeitung oder Vermischung der
                    Vorbehaltsware mit GILLOT CONSULTING SERVICES nicht
                    gehörenden Waren erwirbt GILLOT CONSULTING SERVICES
                    Miteigentum anteilig im Verhältnis des Rechnungswertes der
                    Vorbehaltsware zur übrigen Ware.
                </p>
                <p>
                    6.4&nbsp; Bei Zahlungsverzug, auch aus anderen und
                    zukünftigen Lieferungen oder Leistungen von GILLOT
                    CONSULTING SERVICES an Kunden, oder bei Vermögensverfall des
                    Kunden darf GILLOT CONSULTING SERVICES zur Geltendmachung
                    des Eigentumsvorbehaltes an der Vorbehaltsware die
                    Geschäftsräume des Kunden betreten und die Vorbehaltsware an
                    sich nehmen.
                </p>
                <p>
                    6.5&nbsp; Die Geltendmachung des Eigentumsvorbehaltes oder
                    die Pfändung des Liefergegenstandes durch GILLOT CONSULTING
                    SERVICES gelten nicht als Vertragsrücktritt, sofern der
                    Kunde Kaufmann ist.
                </p>
                <p>
                    6.6&nbsp; Der Kunde tritt seine Forderungen aus der
                    Weitergabe der Vorbehaltsware im jeweiligen Rechnungswert
                    der Vorbehaltsware bereits zum Zeitpunkt der Bestellung im
                    voraus an GILLOT CONSULTING SERVICES ab. Der Kunde bleibt
                    zur Einziehung auch nach der Abtretung berechtigt. GILLOT
                    CONSULTING SERVICES ist dessenungeachtet im Rahmen des
                    ordnungsgemäßen Geschäftsganges einziehungsberechtigt, wird
                    von diesem Recht aber nur Gebrauch machen im Falle des
                    Zahlungsverzugs oder bei einem Antrag auf Eröffnung des
                    Konkurs- oder Vergleichsverfahrens durch den Kunden. Auf
                    Verlangen von GILLOT CONSULTING SERVICES wird der Kunde die
                    abgetretenen Forderungen benennen, erforderliche Angaben
                    machen, Unterlagen aushändigen und den Schuldnern die
                    Abtretung mitteilen. GILLOT CONSULTING SERVICES darf zur
                    Sicherung seiner Zahlungsansprüche jederzeit diese Abtretung
                    offenlegen.
                </p>
                <p>
                    6.7&nbsp; Die Auswahl der freizugebenden Sicherheiten
                    obliegt GILLOT CONSULTING SERVICES. Für die Bewertung der
                    Sicherheiten ist bei der Vorbehaltsware der zur Zeit des
                    Freigabeverlangens geltende Nettolistenpreis GILLOT
                    CONSULTING SERVICES maßgeblich, bei abgetretenen Forderungen
                    ist vom Nettorechnungsbetrag abzüglich eines
                    Sicherheitsabschlags von 30 % auszugehen. Handelt es sich um
                    Forderungen, bei welchen der Abnehmer des Kunden bereits in
                    Zahlungsverzug ist oder Tatsachen bekannt sind, die
                    berechtigten Grund zu der Annahme geben, dass ein Ausfall zu
                    befürchten ist, so beträgt der Abschlag 50%. Bei wegen
                    Verbindung, Vermischung oder Verarbeitung nur in Form von
                    Miteigentum bestehenden Sicherheiten ist vom
                    Nettolistenpreis der von GILLOT CONSULTING SERVICES
                    gelieferten Ware abzüglich eines Abschlags von 30%
                    auszugehen.
                </p>
                <p>
                    6.8&nbsp; Für Test- und Vorführzwecke gelieferte Gegenstände
                    bleiben im Eigentum von GILLOT CONSULTING SERVICES. Sie
                    dürfen vom Kunden nur aufgrund gesonderter Vereinbarung mit
                    GILLOT CONSULTING SERVICES über den Test- und Vorführzweck
                    hinaus benutzt werden.
                </p>
                <h3 class="mt-5 font-bold">7. Gewährleistung</h3>
                <p>
                    7.1&nbsp; GILLOT CONSULTING SERVICES gewährleistet, dass die
                    Vertragsprodukte nicht mit wesentlichen Mängeln, zu denen
                    auch das Fehlen zugesicherter Eigenschaften gehört, behaftet
                    sind. Die Herstellung der Vertragsprodukte erfolgt mit der
                    gebotenen Sorgfalt. Die Parteien sind sich jedoch darüber
                    bewußt, dass es nach dem Stand der Technik nicht möglich
                    ist, Fehler der Hard-/Software unter allen
                    Anwendungsbedingungen auszuschließen.
                </p>
                <p>
                    7.2&nbsp; GILLOT CONSULTING SERVICES gewährleistet, dass die
                    Vertragsprodukte in der Produktinformation allgemein
                    zutreffend beschrieben und in diesem Rahmen grundsätzlich
                    einsatzfähig sind. Die technischen Daten und Beschreibungen
                    in der Produktinformation allein stellen keine Zusicherung
                    bestimmter Eigenschaften dar. Eine Zusicherung von
                    Eigenschaften im Rechtssinne ist nur dann gegeben, wenn die
                    jeweiligen Angaben von GILLOT CONSULTING SERVICES
                    schriftlich bestätigt wurden. GILLOT CONSULTING SERVICES
                    übernimmt keine Gewähr dafür, dass die Programm- und
                    Hardwarefunktionen den Anforderungen des Kunden genügen bzw.
                    in der von ihm getroffenen Auswahl zusammenarbeiten.
                </p>
                <p>
                    7.3&nbsp; Von der Gewährleistung ausgeschlossen sind
                    insbesondere Mängel bzw. Schäden, die zurückzuführen sind
                    auf. betriebsbedingte Abnutzung und normalen Verschleiß
                    /unsachgemäßen Gebrauch / Bedienungsfehler und fahrlässiges
                    Verhalten des Kunden Betrieb mit falscher Stromart oder
                    -spannung sowie Anschluß an ungeeignete Stromquellen Brand,
                    Blitzschlag, Explosion oder netzbedingte Überspannungen /
                    Feuchtigkeit aller Art / falsche oder fehlerhafte Programm-,
                    Software- und/oder Verarbeitungsdaten sowie jegliche
                    Verbrauchsteile, es sei denn, der Kunde weist nach, dass
                    diese Umstände nicht ursächlich für den gerügten Mangel
                    sind. Die Gewährleistung entfällt ferner, wenn Seriennummer,
                    Typbezeichnung oder ähnliche Kennzeichen entfernt oder
                    unleserlich gemacht werden. Vor Überlassung von
                    Datenträgern, von Festplatten und kompletten PC-Systemen,
                    hat der Kunde stets eine Datensicherung durchzuführen. Ist
                    ihm eine Sicherung nicht möglich, diese aber für ihn
                    notwendig, so hat er GILLOT CONSULTING SERVICES hiervon
                    rechtzeitig zu unterrichten und ggf. mit der Sicherung
                    gesondert zu beauftragen.
                </p>
                <p>
                    7.4&nbsp; Die Gewährleistungsfrist beträgt maximal sechs
                    Monate und beginnt mit Gefahrübergang. Diese Frist ist eine
                    Verjährungsfrist und gilt auch für den Ersatz von
                    Mangelfolgeschäden, soweit keine Ansprüche aus unerlaubter
                    Handlung geltend gemacht werden. Gewährleistungsansprüche
                    sind nicht übertragbar. Unabhängig davon gibt GILLOT
                    CONSULTING SERVICES etwaige weitergehende Garantie- und
                    Gewährleistungszusagen der Hersteller in vollem Umfang an
                    den Kunden weiter, ohne dafür selbst einzustehen.
                </p>
                <p>
                    7.5&nbsp; Im Gewährleistungsfall erfolgt nach Wahl von
                    GILLOT CONSULTING SERVICES Nachbesserung oder
                    Ersatzlieferung. Ersetzte Teile gehen in das Eigentum von
                    GILLOT CONSULTING SERVICES über. Falls GILLOT CONSULTING
                    SERVICES Mängel innerhalb einer angemessenen, schriftlich
                    gesetzten Nachfrist nicht beseitigt, ist der Kunde
                    berechtigt, entweder die Rückgängigmachung des Vertrages
                    oder eine angemessene Minderung des Kaufpreises zu
                    verlangen.
                </p>
                <p>
                    7.6&nbsp; Im Falle der Nachbesserung übernimmt GILLOT
                    CONSULTING SERVICES die Arbeitskosten. Alle sonstigen Kosten
                    der Nachbesserung sowie die mit einer Ersatzlieferung
                    verbundenen Nebenkosten, insbesondere die Transportkosten
                    für das Ersatzstück, trägt der Kunde.
                </p>
                <p>
                    7.7&nbsp; Ergibt die Überprüfung einer Mängelanzeige, dass
                    ein Gewährleistungsfall nicht vorliegt, ist GILLOT
                    CONSULTING SERVICES berechtigt, für alle Aufwendungen vom
                    Kunden Ersatz zu verlangen. Kosten der Überprüfung und
                    Reparatur werden zu den jeweils gültigen Servicepreisen
                    GILLOT CONSULTING SERVICES berechnet.
                </p>
                <p>
                    7.8&nbsp; Alle weiteren oder anderen als in diesen
                    Bestimmungen vorgesehenen Ansprüche des Kunden, gleich aus
                    welchem Rechtsgrund, sind ausgeschlossen, soweit sich nicht
                    aus diesen Bestimmungen etwas anderes ergibt.
                </p>
                <p>
                    7.9&nbsp; Bei Inanspruchnahme der Gewährleistung/Garantie
                    sowie bei kostenpflichtigen Reparaturaufträgen und Retouren
                    jeglicher Art hat der Kunde die Abwicklungsrichtlinien des
                    Kundendienstes bzw. die entsprechenden Verfahrensanweisungen
                    GILLOT CONSULTING SERVICES zu beachten und zu befolgen.
                    Geräte (wie Computer, Peripheriegeräte usw.) die vom Kunden
                    nicht binnen 3 Monate nach Rechnungsausstellung abgeholt
                    werden, werden verschrottet.
                </p>
                <p>
                    7.10&nbsp; Generell ist eine Rücknahme von gelieferten
                    Produkten sowie eine Stornierung erteilter Aufträge
                    kundenseitig ausgeschlossen, sofern es sich um die vom
                    Kunden eindeutig unwiderruflich bestellte Ware handelt.
                    Evtl. anfallende Transport- und Stornokosten sind voll vom
                    Kunden zu tragen und unverzüglich zu begleichen.
                </p>
                <h3 class="mt-5 font-bold">
                    8. Gewerbliche Schutzrechte und Urheberrechte Dritter
                </h3>
                <p>
                    8.1&nbsp; GILLOT CONSULTING SERVICES übernimmt keine Haftung
                    dafür, dass die Vertragsprodukte keine gewerblichen
                    Schutzrechte oder Urheberrechte Dritter verletzen. Der Kunde
                    hat GILLOT CONSULTING SERVICES von allen gegen ihn aus
                    diesem Grund erhobenen Ansprüchen unverzüglich in Kenntnis
                    zu setzen.
                </p>
                <p>
                    8.2&nbsp; Soweit die gelieferten Produkte nach Entwürfen
                    oder Anweisungen des Kunden gefertigt wurden, hat der Kunde
                    GILLOT CONSULTING SERVICES von allen Ansprüchen
                    freizustellen, die von Dritten aufgrund der Verletzung
                    gewerblicher Schutzrechte und Urheberrechte geltend gemacht
                    werden. Etwaige Prozeßkosten sind angemessen zu
                    bevorschussen.
                </p>
                <h3 class="mt-5 font-bold">
                    9. Haftung und weitergehende Gewährleistung
                </h3>
                <p>
                    9.1&nbsp; Soweit sich aus diesen Bestimmungen nichts anderes
                    ergibt, sind weitergehende Ansprüche des Kunden - gleich aus
                    welchen Rechtsgründen - ausgeschlossen. GILLOT CONSULTING
                    SERVICES haftet deshalb nicht für Schäden, die nicht am
                    Liefergegenstand selbst entstanden sind, insbesondere haftet
                    GILLOT CONSULTING SERVICES nicht für entgangenen Gewinn oder
                    sonstige Vermögensschäden des Kunden. Der Ausschluß gilt
                    insbesondere auch für Ansprüche wegen Verschuldens bei
                    Vertragsschluß, Verletzung von Nebenpflichten und
                    Produzentenhaftung.
                </p>
                <p>
                    9.2&nbsp; Diese Haftungsfreizeichnung gilt nicht, wenn die
                    Schadensursache auf Vorsatz oder grober Fahrlässigkeit
                    beruht. Sie gilt ferner dann nicht, wenn der Kunde wegen des
                    Fehlens einer das Folgeschadensrisiko umfassenden
                    Eigenschaftssicherung Schadensersatzansprüche wegen
                    Nichterfüllung geltend macht.
                </p>
                <p>
                    9.3&nbsp; Sofern GILLOT CONSULTING SERVICES fahrlässig eine
                    vertragswesentliche Pflicht verletzt, ist die Ersatzpflicht
                    für Sach- und Personenschäden von GILLOT CONSULTING SERVICES
                    auf die Ersatzleistung seiner Produkthaftpflichtversicherung
                    begrenzt. Die Ersatzpflicht ist in jedem Fall auf den im
                    Zeitpunkt des Vertragsschlusses vorhersehbaren Schaden
                    begrenzt.
                </p>
                <p>
                    9.4&nbsp; Vorstehende Haftungsausschlüsse und Begrenzungen
                    gelten nicht für Ansprüche gemäß Produkthaftungsgesetz oder
                    wegen anfänglichem Unvermögen oder von GILLOT CONSULTING
                    SERVICES zu vertretender Unmöglichkeit. Soweit eine Haftung
                    von GILLOT CONSULTING SERVICES ausgeschlossen oder begrenzt
                    ist, gilt dies auch für die persönliche Haftung der
                    Angestellten, Arbeitnehmer, Mitarbeiter, Vertreter und
                    Erfüllungsgehilfen.
                </p>
                <h3 class="mt-5 font-bold">
                    10. Export- und Importgenehmigungen
                </h3>
                <p>
                    10.1&nbsp; Von GILLOT CONSULTING SERVICES gelieferte
                    Produkte und technisches Know-how sind zur Benutzung und zum
                    Verbleib in dem mit dem Kunden vereinbarten Lieferland
                    bestimmt. Die Wiederausfuhr von Vertragsprodukten - einzeln
                    oder in systemintegrierter Form - ist für den Kunden
                    genehmigungspflichtig und unterliegt grundsätzlich den
                    Außenwirtschaftsvorschriften der Republik Österreich bzw.
                    des anderen mit dem Kunden vereinbarten Lieferlandes. Der
                    Kunde muss sich über diese Vorschriften selbständig nach
                    österreichischen Bestimmungen beim Aussenministerium, nach
                    US-Bestimmungen beim US-Department of Commerce, Office of
                    Export Administration, Washington, D.C. 20230, erkundigen.
                    Unabhängig davon, ob der Kunde den endgültigen
                    Bestimmungsort der gelieferten Vertragsprodukte angibt,
                    obliegt es dem Kunden in eigener Verantwortung, die ggf.
                    notwendige Genehmigung der jeweils zuständigen
                    Außenwirtschaftsbehörden einzuholen, bevor er solche
                    Produkte exportiert.
                </p>
                <p>
                    10.2&nbsp; Jede Weiterlieferung von Vertragsprodukten durch
                    Kunden an Dritte, mit und ohne Kenntnis von GILLOT
                    CONSULTING SERVICES bedarf gleichzeitig der Übertragung der
                    Exportgenehmigungsbedingungen. Der Kunde haftet für die
                    ordnungsgemäße Beachtung dieser Bedingungen gegenüber GILLOT
                    CONSULTING SERVICES.
                </p>
                <h3 class="mt-5 font-bold">11. EG-Einfuhrumsatzsteuer</h3>
                <p>
                    11.1&nbsp; Soweit der Kunde seinen Sitz außerhalb
                    Österreichs hat, ist er zur Einhaltung bezüglich der
                    Regelung der Einfuhrumsatzsteuer der Europäischen Union
                    verpflichtet. Hierzu gehört insbesondere die Bekanntgabe der
                    Umsatzsteueridentifikationsnununer an GILLOT CONSULTING
                    SERVICES ohne gesonderte Anfrage. Der Kunde ist
                    verpflichtet, auf Anfrage die notwendigen Auskünfte
                    hinsichtlich seiner Eigenschaft als Unternehmer,
                    hinsichtlich der Verwendung und des Transports der
                    gelieferten Waren sowie hinsichtlich der statistischen
                    Meldepflicht an GILLOT CONSULTING SERVICES zu erteilen.
                </p>
                <p>
                    11.2&nbsp; Der Kunde ist verpflichtet, jeglichen Aufwand -
                    insbesondere eine Bearbeitungsgebühr - der bei GILLOT
                    CONSULTING SERVICES aus mangelhaften bzw. fehlerhaften
                    Angaben des Kunden zur Einfuhrumsatzsteuer entsteht, zu
                    ersetzen.
                </p>
                <p>
                    11.3&nbsp; Jegliche Haftung von GILLOT CONSULTING SERVICES
                    aus den Folgen der Angaben des Kunden zur
                    Einfuhrumsatzsteuer bzw. den relevanten Daten hierzu ist
                    ausgeschlossen, soweit von seiten GILLOT CONSULTING SERVICES
                    nicht Vorsatz bzw. grobe Fahrlässigkeit vorliegt.
                </p>
                <h3 class="mt-5 font-bold">12. Allgemeine Bestimmungen</h3>
                <p>
                    12.1&nbsp; Der Kunde ist nicht berechtigt, seine Ansprüche
                    aus dem Vertrag abzutreten.
                </p>
                <p>
                    12.2&nbsp; Erfüllungsort und Gerichtsstand ist Wien. GILLOT
                    CONSULTING SERVICES ist jedoch berechtigt, den Kunden an
                    jedem anderen gesetzlichen Gerichtsstand zu verklagen.
                </p>
                <p>12.3&nbsp; Es gilt das Recht der Republik Österreich.</p>
                <p>
                    12.4&nbsp; Die Auftragsabwicklung erfolgt innerhalb GILLOT
                    CONSULTING SERVICES mit Hilfe automatischer
                    Datenverarbeitung. Der Kunde erteilt hiermit seine
                    ausdrückliche Zustimmung zur Verarbeitung durch GILLOT
                    CONSULTING SERVICES im Rahmen vertraglicher Beziehungen
                    bekanntgewordenen und zur Auftragsabwicklung notwendigen
                    Daten. Der Kunde ist auch damit einverstanden, dass GILLOT
                    CONSULTING SERVICES die aus der Geschäftsbeziehung mit ihm
                    erhaltenen Daten im Sinne des Datenschutzgesetzes für
                    geschäftliche Zwecke verwendet.<br />Sofern keine
                    anderslautenden schriftlichen Vereinbarungen getroffen
                    wurden, willigt der Kunde ein, dass seine Daten als
                    Referenznachweis gegenüber anderen Kunden verwendet werden
                    können. In dieser Form veröffentlichte Daten erhalten
                    keinesfalls Aufschluss über Auftragsvolumen oder sonstige
                    geschäftliche Vereinbarungen.
                </p>
                <p>
                    12.5&nbsp; Sollten eine oder mehrere Bestimmungen dieser
                    Allgemeinen Geschäftsbedingungen unwirksam sein oder werden
                    oder dieser Vertragstext eine Regelungslücke enthalten, so
                    werden die Vertragsparteien die unwirksame oder
                    unvollst;auml;ndige Bestimmung durch angemessene Regelungen
                    ersetzen oder ergänzen, die dem wirtschaftlichen Zweck der
                    gewollten Regelung weitestgehend entsprechen. Die Gültigkeit
                    der übrigen Bestimmungen bleibt davon unberührt.
                </p>
            </div>
        </div>
    </div>
</Layout>
