---
import Layout from "@/layouts/Layout.astro";
---
<Layout title="Netzwerk - Gillot Consulting" description="Netzwerklösungen von Gillot Consulting Services" keywords="">
    <div>
        <h1
            class="text-4xl md:text-5xl font-bold text-center mx-auto mt-8 mb-10"
        >
            Netzwerk
        </h1>
    </div>
</Layout>