---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Sicherheit & Datenschutz in Wien – IT Schutz & Compliance | Gillot Consulting"
    description="Sicherheits und Datenschutzlösungen von Gillot Consulting Services"
    keywords=""
>
    <div>
        <h1 class="text-4xl md:text-5xl font-bold text-center mx-auto mt-8">
            Sicherheit & Datenschutz
        </h1>
        <h2
            class="text-xl md:text-2xl text-center mx-auto text-white/70 max-w-2xl"
        >
            Eu-Datenschutz-Gundverordnung (EU-DSGVO)
        </h2>

        <section>
            <h3>Wir nehmen den Schutz der Daten unserer Kunden sehr ernst</h3>
            <ul>
                <li>
                    es werden ausschließlich Kundendaten (Namen, Vornamen,
                    Telefonnummer, postalische Adresse, gegebenenfalls
                    Mailadresse) zum Zweck der Erfüllung von durch Kunden
                    erteilten Aufträgen und für die Erfüllung von
                    buchhalterischen Aufgaben, gespeichert.
                </li>
                <li>es werden keine Cookies benutzt bzw. ausgewertet</li>
                <li>es werden keine Mailings für Werbezwecke durchgeführt</li>
                <li>
                    wir führen auch derzeit keine Werbekampagnen wie AdWords(TM)
                    durch
                </li>
                <li>
                    jeder Kunde hat das Recht zu wissen welche Daten und zu
                    welchen Zwecken diese von uns erhoben wurden. Eine Anfrage
                    mit dem Betreff: "Erteilung der Auskunft nach Art 15 DSGVO"
                    an die oben im Banner der Homepage stehende Mailadresse wird
                    zeitgerecht beantwortet.
                </li>
                <li>
                    Es werden keine Kundendaten an Organisationen, Firmen,
                    Institutionen weitergeleitet
                </li>
                <li>
                    Kundendaten liegen auf unserem Firmenserver und unterliegen
                    einem 2 stufigen Anmeldeprozess.
                </li>
            </ul>
        </section>
        <section>
            <h3>Besonderer Rechtshinweis:</h3>
        </section>
        <section>
            <h3>
                Beim Schutz der Daten kommen folgende Technologien zum Einsatz:
            </h3>
        </section>
    </div>
</Layout>
