---
import KontaktButton from "@/components/kontaktButton.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Verkauf - Gillot Consulting"
    description=" Verkauf von Hardware und Software von Gillot Consulting Services"
>
    <div class="container mx-auto px-4">
        <h1 class="text-4xl font-bold text-center mx-auto mt-8 mb-5">
            Verkauf
        </h1>
        <p>
            Wir stellen Computer- und Serversysteme nach Ihren persönlichen
            Wünschen zusammen, beschaffen Software, Peripheriegeräte,
            Festplatten, Speicher, Netzwerkswitche, Router,
            Funknetzwerkkomponenten und bauen spezielle Konfigurationen für Sie
            auf.
        </p>
        <p>Wir stellen Computer- und Serversysteme nach Ihren persönlichen Wünschen zusammen.</p>
        <p>
            Ob Software, Peripheriegeräte, Festplatten, Speicher, Netzwerkswitche, Router oder Funknetzwerkkomponenten – wir beschaffen alles, was Sie benötigen.
        </p>
        <p>
            Außerdem entwickeln wir spezielle Konfigurationen für Unternehmen, die individuelle IT-Lösungen verlangen.</p>
        </p>

        <KontaktButton/>
    </div>
</Layout>
