---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Standort - Gillot Consulting" description="Standort von Gillot Consulting Services in Wien. Besuchen Sie uns für persönliche Beratung und Unterstützung.">
    <div class="container mx-auto px-4">
        <h1 class="text-4xl font-bold text-center mx-auto mt-8 mb-8">
            Standort
        </h1>
        <p class="text-center text-lg max-w-2xl mx-auto mb-8 text-white/80">
            Entdecken Sie unseren Standort im Herzen von Wien - besuchen Sie uns
            und lassen Sie sich von unserem Expertenteam beraten!
        </p>
        <div class="flex justify-center items-center mb-10">
            <div class="relative">
                
                <iframe
                    loading="lazy"
                    title="Gillot Consulting Services Standort"
                    class="rounded-3xl shadow-2xl max-w-full"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42534.27262468975!2d16.307723522186272!3d48.218325122564735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d06885f1275c3%3A0x5e7efddb0a6c5e13!2sGillot%20Consulting%20Services!5e0!3m2!1ses!2sde!4v1750842691361!5m2!1ses!2sde"
                    width="700"
                    height="500"
                    style="border:0;"
                    allowfullscreen=""
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="flex flex-col items-center space-y-2">
            <p
                class="text-center text-lg font-medium bg-white/10 px-6 py-2 rounded-xl shadow-inner backdrop-blur-sm"
            >
                <span class="font-bold text-[#00c6fb]"
                    >Gillot Consulting Services</span
                ><br />
                Rotenkreuzgasse 10/21A 1020 Wien, Österreich
            </p>
            <p class="text-center text-base text-white/70 mt-4">
                <svg
                    class="inline-block mr-2"
                    width="20"
                    height="20"
                    fill="none"
                    viewBox="0 0 24 24"
                >
                    <path
                        d="M6.62 10.79a15.053 15.053 0 006.59 6.59l2.2-2.2a1 1 0 011.01-.24c1.12.37 2.33.57 3.58.57a1 1 0 011 1V20a1 1 0 01-1 1C10.07 21 3 13.93 3 5a1 1 0 011-1h3.5a1 1 0 011 1c0 1.25.2 2.46.57 3.58a1 1 0 01-.24 1.01l-2.2 2.2z"
                        fill="#00c6fb"></path>
                </svg>
                +43 66 44 54 32 44
            </p>
        </div>
    </div>
</Layout>
