---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Über Uns - Gillot Consulting"
    description="Erfahren Sie mehr über Gillot Consulting, unsere Philosophie und unser Team. Wir sind spezialisiert auf IT-Lösungen, Netzwerke und Webentwicklung."
>
    <div>
        <h1 class="text-4xl font-bold text-center mt-8 mb-8">Über uns</h1>

        <div class="px-12 sm:px-16 lg:px-30 mx-auto">
            <div class="flex flex-col md:flex-row items-center gap-8">
                <div class="w-full md:w-2/3 text-pretty">
                    <h2 class="mb-6 text-2xl font-bold">
                        Jean-Michel GILLOT – Manager
                    </h2>
                    <p class="mb-4">
                        Computer und Menschen miteinander zu vernetzen haben
                        immer eine Faszination auf mich ausgeübt. Diese
                        Begeisterung ist ansteckend, das wissen viele meiner
                        Kunden und meiner Schüler. Ob Microsoft oder Novell
                        Netzwerke, Mailsysteme, Sicherheitskonzepte,
                        Branchenlösungen, Weblösungen oder Marketinginstrumente
                        wie CRM Lösungen – alles was die Kommunikation fördert,
                        unterstützen wir. Mehr als 20 Jahre Erfahrung im Dienste
                        kleiner und großer Unternehmen haben einen tiefen
                        Einblick für das Wesentliche vermittelt.
                    </p>
                    <p>
                        Kompetenz, Zuverlässigkeit und Freundlichkeit sind die
                        drei Eckpfeiler unseres Handelns.
                    </p>
                </div>

                <div class="w-full md:w-1/3 flex justify-center md:justify-end">
                    <img
                        src="/img/content/gillot.webp"
                        alt="Jean-Michel Gillot"
                        class="w-40 md:w-56 max-w-full rounded-md shadow-lg"
                    />
                </div>
            </div>
        </div>
        <div class="mx-auto px-12 sm:px-16 lg:px-30 py-6 mt-15 bg-white/10">
            <h2 class="mb-2 text-2xl font-bold text-center">Mitarbeiter</h2>
            <hr class="border-t-2 border-white/20 mb-8 w-1/3 mx-auto" />
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-8">
                <div
                    class="bg-white/10 p-6 rounded-xl shadow-lg backdrop-blur-sm border border-white/10 hover:shadow-xl hover:bg-white/15 transition-all duration-300"
                >
                    <h3 class="mb-4 text-2xl font-bold">
                        Mag. Ing. Jean-Michel Gillot – IT-Consulting und
                        Services
                    </h3>
                    <ul class="list-disc list-inside text-gray-300 space-y-1">
                        <li>Betriebssysteme: Alle Windows Versionen</li>
                        <li>
                            Hardware: Notebooks, Desktop PCs, Peripherie Geräte,
                            Router, Firewalls, CRD-, LCD und TFT-Monitore
                        </li>
                        <li>
                            Netzwerk-Server Einrichtung und Betreuung: WinNT,
                            Win20XX, Exchange 20XX, Small Business Server,
                            Verkabelung.
                        </li>
                        <li>Datenbanken: MS-SQL</li>
                        <li>Branchenlösungen auf Anfrage</li>
                        <li>Voice over IP Anlagen, Planung von IT-Anlagen, VPN Anbindungen</li>
                        <li>
                            Fremdsprachen: Französisch, Englisch, Italienisch
                        </li>
                    </ul>
                </div>
                <div class="bg-white/10 p-6 rounded-xl shadow-lg backdrop-blur-sm border border-white/10 hover:shadow-xl hover:bg-white/15 transition-all duration-300">
                    <h3 class="mb-4 text-2xl font-bold">
                        Programmierung / Projektmangement
                    </h3>
                    <ul class="list-disc list-inside text-gray-300 space-y-1">
                        <li>Programmiersprachen: VBA, VB6.</li>
                        <li>
                            Schwerpunkt: objektorientierte
                            Programmierung/Weiterentwicklung proprietärer
                            Firmenlösungen in einer MS-Office-Umgebung.
                        </li>
                        <li>
                            Projektmanagement: Planung, Durchführung und Evaluierung
                            von EDV-Projekten.
                        </li>
                        <li>
                            Datenbanken: Access, MS-SQL-Server (ab 2000), DBase,
                            FoxPro.
                        </li>
                        <li>Fremdsprachen: Englisch, Französisch</li>
                    </ul>
                </div>
                <div class="bg-white/10 p-6 rounded-xl shadow-lg backdrop-blur-sm border border-white/10 hover:shadow-xl hover:bg-white/15 transition-all duration-300">
                    <h3 class="mb-2 text-xl font-bold">
                        Techniker - EDV-Dienste
                    </h3>
                    <ul class="list-disc list-inside text-gray-300 space-y-1">
                        <li>Betriebssysteme: Alle Windows-Versionen</li>
                        <li>
                            Hardware: Notebooks, Desktop PC's, Server, Peripherie
                            Geräte, Router, Firewalls, CRD-, LCD und TFT-Monitore.
                        </li>
                        <li>
                            Netzwerk-Server Einrichtung und Betreuung: WinX,
                            Exchange 20XX, Small Business Server 20XX, Verkabelung.
                        </>
                        <li>Fremdsprachen: Englisch</li>
                    </ul>
                </div>
                <div class="bg-white/10 p-6 rounded-xl shadow-lg backdrop-blur-sm border border-white/10 hover:shadow-xl hover:bg-white/15 transition-all duration-300">
                    <h3 class="mb-2 text-xl font-bold">EDV-Dienste</h3>
                    <ul class="list-disc list-inside text-gray-300 space-y-1">
                    <li>Betriebssysteme: Alle Windows-Versionen</li>
                    <li>
                        Hardware: Notebooks, Desktop PC's, Server, Peripherie
                        Geräte, Router, Firewalls, CRD-, LCD und TFT-Monitore.
                    </li>
                    <li>
                        Netzwerk-Server Einrichtung und Betreuung: WinX,
                        Exchange 20XX, Small Business Server 20XX, Verkabelung.
                    </li>
                    <li>Fremdsprachen: Englisch</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</Layout>
