---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="" description="">
    <div>
        <h1 class="text-4xl font-bold text-center mx-auto mt-8 mb-8">
            Über uns
        </h1>
        <div class="mt-6 text-white flex items-center">
            <div class="container mx-auto p-4 m-10">
                <div class="w-3/3 flex items-center gap-4">
                    <div class="w-2/3">
                        <h1 class="mb-8 text-2xl font-bold">
                            Mag. Ing. Jean-Michel GILLOT - Manager
                        </h1>
                        <p class="">
                            Computer und Menschen miteinander zu vernetzen haben
                            immer eine Faszination auf mich ausgeübt. Diese
                            Begeisterung ist ansteckend, das wissen viele meiner
                            Kunden und meiner Schüler. Ob Microsoft oder Novell
                            Netzwerke, Mailsysteme, Sicherheitskonzepte,
                            Branchenlösungen, Weblösungen oder
                            Marketinginstrumente wie CRM Lösungen alles was die
                            Kommunikation fördert, unterstützen wir. Mehr als 20
                            Jahre Erfahrung im Dienste kleiner und großer
                            Unternehmen haben einen tiefen Einblick für das
                            Wesentliche vermittelt.
                        </p>
                        <p class="mt-5">
                            Kompetenz, Zuverlässigkeit und Freundlichkeit sind
                            die drei Eckpfeiler unseres Handelns.
                        </p>
                    </div>
                    <div class="w-1/3 text-right">
                        <img
                            alt=""
                            src="/img/content/gillot.webp"
                            class="inline-block w-1/2"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-6 text-white flex items-center bg-[#243156]">
            <div class="container mx-auto p-4 m-10">
                <div class="w-3/3 flex items-center gap-4">
                    <div class="w-2/3">
                        <p class="">
                            Connecting computers and people has always
                            fascinated me. This enthusiasm is contagious, as
                            many of my customers and my students know. Whether
                            Microsoft or Novell networks, mail systems, security
                            concepts, industry solutions, web solutions or
                            marketing instruments such as CRM solutions, we
                            support everything that promotes communication. More
                            than 20 years of experience in the service of small
                            and large companies have provided a deep insight
                            into the essentials.
                        </p>
                        <p class="mt-5">
                            Competence, reliability and friendliness are the
                            three cornerstones of our actions.
                        </p>
                    </div>
                    <div class="w-1/3 text-right">
                        <img
                            alt=""
                            src="/img/content/gillot.webp"
                            class="inline-block w-1/2"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
