<footer
    class="bg-[#001a3e] rounded-lg shadow-sm m-4 bottom-0 left-0 right-0"
>
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm text-white sm:text-center"
            >© 2025 <a href="/" class="hover:underline font-bold"
                >Gillot Computer Services</a
            >. All Rights Reserved.
        </span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0"
        >
            <li class="me-4 md:me-6">
                <a
                    href="https://www.facebook.com/gillot.cs/"
                    target="_blank"
                    class="hover:underline">Facebook</a
                >
            </li>
            <li class="me-4 md:me-6">
                <a
                    href="https://firmen.wko.at/ing-mag-jean-michel-joseph-franois-gillot-gillot-consulting-services-24-stunden-computer--und-netzwerk/wien/?firmaid=197a6428-84d0-410c-96f0-029aba8ce6b6"
                    target="_blank"
                    class="hover:underline">Firmendaten</a
                >
            </li>
            <li class="me-4 md:me-6">
                <a href="/partner" class="hover:underline">Partner</a>
            </li>
            <li class="me-4 md:me-6">
                <a href="/agb" class="hover:underline">AGB</a>
            </li>
            <li><a href="/kontakt" class="hover:underline">Contact</a></li>
        </ul>
    </div>
</footer>
