---
import Dienstleistungen from '@/components/Dienstleistungen-nav.astro';
const navPages = [
    { name: "Home", href: "/" },
    { name: "Tarife", href: "/tarife" },
    { name: "Über uns", href: "/uber_uns" },
    { name: "Standort", href: "/standort" },
    { name: "Kontakt", href: "/kontakt" },
];
---
<nav class="bg-[#001a3e] shadow-xl border-b border-white/5 mb-10 mx-auto" x-data="{ open: false }">
    <div class="flex flex-col md:flex-row items-start justify-between relative">
        <div class="flex items-center p-6 md:hidden">
            <button
                @click="open = !open"
                class="md:hidden flex items-center px-3 py-2 rounded focus:outline-none"
                aria-label="Open menu">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                </svg>
            </button>
            <span class="md:hidden flex ml-3 text-white font-semibold text-lg"
                    >Gillot Consulting Services</span
                >
        </div>
        <div 
            class="w-full md:block md:w-full text-left"
            :class="{ 'block': open, 'hidden': !open }">
            <ul class="flex flex-col md:flex-row flex-1 items-start md:items-center md:justify-center px-4">
                {
                    navPages.map((item) => (
                        <li class="w-full md:w-auto relative text-lg">
                            <a
                                class="block w-full md:w-auto text-left p-6 hover:bg-white/5 transition-colors duration-200"
                                aria-current="page"
                                href={item.href}
                            >
                                {item.name}
                            </a>
                        </li>
                    ))
                }
                <Dienstleistungen />
            </ul>
        </div>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
