---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Impressum - Gillot Consulting"
    description="Impressum und rechtliche Hinweise für Gillot Consulting Services. Erfahren Sie mehr über unsere Kontaktdaten und rechtlichen Informationen."
>
    <div class="px-5">
        <h1 class="text-4xl font-bold text-center mb-3">Impressum</h1>

        <div class="p-8 max-w-3xl mx-auto space-y-6">
            <div>
                <h2 class="text-2xl font-bold mb-2">
                    Gillot Consulting Services Computer & Netzwerkdienst
                </h2>
                <address class="not-italic">
                    <p>Rotenkreuzgasse 10/21a</p>
                    <p>1020 WIEN</p>
                    <p>Österreich</p>
                </address>
            </div>

            <div class="space-y-1">
                <p><strong>Telefon:</strong> +43 66 44 54 32 44</p>
                <p><strong>Fax:</strong> 0664 77 45 43 244</p>
                <p>
                    <strong>E-Mail:</strong>
                    office (at) gillotconsulting.com
                </p>
            </div>

            <div>
                <h3 class="text-xl font-semibold mb-1">Öffnungszeiten</h3>
                <p>Montag bis Freitag: <strong>9:00–18:00 Uhr</strong></p>
                <p>außerhalb dieser Zeiten nach telefonischer Vereinbarung</p>
            </div>

            <div>
                <p><strong>UID-Nr:</strong> ATU 43664708</p>
            </div>
            <a href="https://firmen.wko.at/..." class="inline-block">
                <img
                    src="/img/ecg.webp"
                    alt="ECG Logo"
                    class="w-auto h-auto"
                />
            </a>
        </div>
    </div>
</Layout>
